@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding:0;
}

:root {
    --color-main: #d9ad5b;
    --color-sub:#011126;
    --color-red: #a52222;

    --font-white: #fefefe;
    --font-grey: #333333;
    --footer-font-size: 13px;

    --icon-size: 25px;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

#header {
    height: 80px;
    background-color: var(--color-main);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.in {
    width: 1370px;
    margin: 0 auto;
}

#header .logo{
    width: 130px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 300px;
}

.gnb>li {
    font-size: 19px;
    font-weight: 600;
    color: var(--color-sub);
    position: fixed;
    top: 8px;
    display: block;
    padding: 20px;
}

.gnb_newin {
    left: 520px;
}
.gnb_women {
    left: 640px;
}
.gnb_men{
    left: 780px;
}
.gnb_brand {
    left: 880px;
}
.gnb_brand::after {
    content: '';
    display: block;
    width: 3px;
    height: 20px;
    background-color: var(--color-sub);
    position: relative;
    top: -20px;
    right: -110px;
}

.gnb_best {
    left: 1050px;
}
.gnb_sale {
    left: 1130px;
}
.gnb_event {
    left: 1210px;
}

.gnb li:hover {
    color: var(--font-white);
}

.gnb li:hover>.lnb {
    display: block;
}
.lnb {
    font-size: 16px;
    color: var(--color-main);
    background-color: var(--color-sub);
    width: 1370px;
    height: 500px;
    position: fixed;
    top: 80px;
    left: 297px;
    display: none;
}
.lnb>li {
    position: fixed;
    top: 150px;
}
.lnb_1 {
    left: 480px;
}
.lnb_2 {
    left: 680px;
}
.lnb_3 {
    left: 880px;
}
.lnb_4 {
    left: 1080px;
}
.lnb_5 {
    left: 1280px;
}
.lnb_6 {
    left: 1480px;
}

.snb {
    padding-left: 0;
    position: relative;
    top: 20px;
    color: var(--font-white);
    font-weight: 400;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}
header .icon {
    position: fixed;
}
.header_heart {
    right: 500px;
    top:31px;
}

.header_basket {
    right: 450px;
    top:28px;
}

.header_search {
    right: 400px;
    top:30px;
}

.header_menu {
    right: 300px;
    top:30px;
}

.menu_click {
    width: 400px;
    height: 595px;
    background-color: var(--color-sub);
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

.header_menu:hover+.menu_click {
    display: block;
}

.login_btn {
    width: 220px;
    height: 50px;
    background-color: var(--color-main);
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.login_btn:nth-child(1) {
    top: 40px;
    background-color: var(--color-sub);
}
.login_btn:nth-child(2) {
    top: 130px;
}
.login_btn:nth-child(3) {
    top: 200px;
}
.login_btn:nth-child(4) {
    top: 270px;
}
.login_btn:nth-child(5) {
    top: 500px;
}
.top_btn {
    width: 50px;
    height: 40px;
}

#footer {
    background-color: var(--color-sub);
    color: var(--font-white);
    font-size: var(--footer-font-size);
    margin-top: 150px;
}

.footer_top li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.sns_icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 20px 5px 0;
}